params {

  /*
  * pipeline input parameters
  */
  dataDir="/apps/data/"
  localDragenDir="/staging/development/"
  tmpDataDir="/groups/${params.group}/${params.tmpdir}/"
  intermediateDir="${localDragenDir}/tmp/${params.group}/"
  // 4.5 version
  //dragenVersionShort="4.5"
  //dragenVersion="${dragenVersionShort}.4"
  // reference_GRCh38 = "${localDragenDir}/reference_hg38_v12/"
  // reference_PanGenCHM13 = "${localDragenDir}/reference_PanGenCHM13/"
  // reference_PanGen38 = "${localDragenDir}/reference_PanGen38/"
  // referenceDir="${localDragenDir}/reference_${dragenVersionShort}_b37/"

  // 4.3 version
  dragenVersionShort="4.3"
  dragenVersion="${dragenVersionShort}.13"
  referenceDir="${localDragenDir}/reference_${dragenVersionShort}_b37/"
  reference_GRCh37 = "${localDragenDir}/reference/"
  reference_GRCh38 = "${localDragenDir}/reference_hg38/"
  sequencersDir="/groups/umcg-lab/${params.tmpdir}/sequencers/"
  rawdataDir="${tmpDataDir}/rawdata/ngs/"
  resultsDir="${tmpDataDir}/results/"
  
  }

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
  }
  slurm {
    process {
      executor = 'slurm'
      clusterOptions = '--constraint dragen'
      cpus = 4
      memory = '20GB' 
      time = '1 hour'
      
      withName: 'copyInfo' {
	       executor = 'local'
       }
      withName: 'count_reads' {
	       executor = 'local'
       }
      withLabel: 'run_dragen' {
      		cpus = 24
          memory = '150GB'
          time = '8h'
          clusterOptions = '--constraint dragen --exclusive'
        }
      withLabel: 'run_dragen_solo' {
      		cpus = 24
          memory = '150GB'
          time = '8h'
          clusterOptions = '--constraint dragen --exclusive'
        }
      withLabel: 'run_dragen_solo_trupath' {
      		cpus = 24
          memory = '300GB'
          time = '8h'
          clusterOptions = '--constraint dragen --exclusive'
        }
    }
  }
}