params {

  /*
  * pipeline input parameters
  */
  dataDir="/apps/data/"
	localDragenDir="/staging/development/"
  tmpDataDir="/groups/${params.group}/${params.tmpdir}/"
  intermediateDir="${localDragenDir}/tmp/"
	referenceDir="${localDragenDir}/reference/"
	sequencersDir='/mnt/copperfist-ngs'
	resultsDir="${tmpDataDir}/results/"
  
  }

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
  }
  slurm {
    process {
      executor = 'slurm'
      clusterOptions = '--constraint dragen'
      cpus = 4
      memory = '20GB' 
      time = '1 hour'
      
      withLabel: 'run_dragen' {
      		cpus = 24
          memory = '150GB'
          time = '8h'
        }
    }
  }
}